body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.input-wrapper {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#time-logo {
    width: 45px;
    height: 45px;
}

#title1 {
    padding: 10px;
    text-align: center;
    font-size: 40px;
    background: linear-gradient(45deg, #eee, #ee0000);
}

.text-input,
.date-input {
    margin: 5px;
}

.reminder-form {
    padding: 5px;
    justify-content: center;
    text-align: center;
}

#error-text {
    text-align: left;
    color: red;
    display: none;
    margin: 5px;
}

/* Remidner List Items*/
.output-wrapper {
    display: flex;
    align-items: center;
}

.list-group-item {
    margin: 10px;
    border-radius: 10px;
    background-color: #fafafa;
}

.reminder-list {
    padding: 20px;
}

.list-item {
    display: inline-block;
}

.delete-button {
    float: right;
    padding-left: 5px;
    cursor: pointer;
    font-size: 20px;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.list-item-content {
    overflow-wrap: break-word;
    max-height: 100px;
    max-width: 300px;
}

.list-item-content-edit {
    width: 100%;
    height: 100%;
}

.list-item-deadline {
    display: inline-block;
    width: 225px;
}

.list-item-countdown {
    color: red;
    font-weight: bold;
    font-size: 20px;
    padding-left: 10px;
    display: inline-block;
}

.reminder-wrapper,
.delete-wrapper {
    justify-content: center;
    margin: 0;
}

.inline-block {
    max-width: 300px;
}

.tip-text1 {
    padding: 10px 5px 5px 5px;
    font-size: 15px;
    height: 200px;
    float: left;
    text-align: left;
}

.tip-text2 {
    padding: 25px;
    display: flex;
    border: dashed 2px;
    margin-top: 20px;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}

.tip-text1,
.tip-text2 {
    color: #ea0000;
    font-weight: bold;
}
